<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./../../css/style.css">
</head>

<body>
    <div id="mainContainer">
        <div id="header">
            <div class="left">
                <ul>
                    <li><h4>MongoDB: Assignment 03: RESTful Task API: Show One Task</h4></li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li><a href="/tasks"><h4>Return to Show All</h4></a></li>
                    <li><a href="/"><h4>Return to Index</h4></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div id="body">
            <div class="center">
                <div class="dojoSurvey fifty">
                    <h2>Show Page - Task <%= oneTask.id %></h2>
                    <label><h4 style="text-align: left" class="h4label">Title:  </h4></label><h4 class="h4Space"><%= oneTask.title %></h4><br>
                    <label><h4 style="text-align: left" class="h4label">Description:  </h4></label><h4 class="h4Space"><%= oneTask.description %></h4><br>
                    <label><h4 style="text-align: left" class="h4label">Status:  </h4></label><h4 class="h4Space"><%= oneTask.completed %></h4><br>
                    <label><h4 style="text-align: left" class="h4label">Created At:  </h4></label><h4 class="h4Space"><%= moment(oneTask.createdAt, "YYYYMMDD").fromNow() %></h4>
                </div>
            </div>
        </div>
        <div id="foot">
        </div>
    </div>
</body>

</html>
