<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./../css/style.css">
</head>

<body>
    <div id="mainContainer">
        <div id="header">
            <div class="left">
                <ul>
                    <li><h4>MongoDB: Assignment 03: RESTful Task API: Show All Tasks</h4></li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li><a href="/"><h4>Return to Index</h4></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div id="body">
            <div id="body-top">
                <div class="left">
                    
                </div>
                <div class="right">
                    <a href="/task/add"><input class="btnSubmit btnBlue" type="text" value="Add Task"></a>
                    
                </div>
            </div>
            <h1>All Tasks</h1>
            <table cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Completed</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- loop -->
                <% if( allTasks ){ %>
                    <% for( var task in allTasks ){ %>
                    <tr>
                        <td class="center"><a href="tasks/show/<%= allTasks[task].id %>"><%= allTasks[task].id %></a></td>
                        <td class="center"><%= allTasks[task].title %></td>
                        <td class="center"><%= allTasks[task].description %></td>
                        <td class="center"><%= allTasks[task].completed %></td>
                        <td class="center"><%= moment(allTasks[task].createdAt, "YYYYMMDD").fromNow() %></td>
                        <td class="center">
                            <form action="tasks/delete/<%= allTasks[task].id %>" method="post">
                                <input class="btnSubmit btnRedHov" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
        <div id="foot">
        </div>
    </div>
</body>

</html>
