<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title></title>
    <link rel='stylesheet' href='css/style.css'>
</head>

<body>
    <div id='mainContainer'>
        <div id='header'>
            <div class='left'>
                <ul>
                    <li><h4>MongoDB: Advanced: Assignment 01: Login and Registration Dashboard</h4></li>
                </ul>
            </div>
            <div class='right'>
                <ul>
                    <li><a href=""><h4>Welcome <%= currentUserObj.firstName%> <%= currentUserObj.lastName%>!</h4></a></li>
                    <li><a href="/logout"><h4>Logout</h4></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div id='body'>
        <br><br>
            <h3>All Users</h3>
            <table cellpadding="0" cellspacing ="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (typeof(allUsers) != "undefined") { %>
                        <% for(var user in allUsers) { %>
                            <tr>
                                <td class="center"><a href=""><%= allUsers[user]._id %></a></td>
                                <td class="center"><%= allUsers[user].firstName %> <%= allUsers[user].lastName %></td>
                                <td class="center"><%= allUsers[user].userName %></td>
                                <td class="center"><%= allUsers[user].email %></td>
                                <td class="center"><a href="/delete/<%= allUsers[user]._id %>">Remove</a></td>
                            </tr>
                            
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div id='foot'>
        </div>
    </div>
</body>

</html>
