<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title></title>
    <link rel='stylesheet' href='css/style.css'>
</head>

<body>
    <div id='mainContainer'>
        <div id='header'>
            <div class='left'>
                <ul>
                    <li><h4>MongoDB: Assignment 03: Dojo Message Board: Index</h4></li>
                </ul>
            </div>
            <div class='right'>

            </div>
        </div>
        <hr>
        <div id='body'>
            <h2>Add a Message</h2>
            <br>
            <% if(typeof(errors) != "undefined") { %>
                <% for(var err in errors) { %>
                    <p class="errors"><%= errors[err].message %></p>
                <% } %>
            <% } %>
            <form action="/message/add" method="POST">
                <div class='left'>
                    <label for="name">Name:</label>
                    <input class="inputTextLeft" type="text" name="name" placeholder="Enter Message Author's Name Here">
                </div>
                <div class='right'>

                </div>
                <br>
                <div> 
                    <label for="message">Message:</label>
                    <textarea class="textAreaItem" rows="8" cols="15" name="messageContent" placeholder="Enter Your Message Here"></textarea>
                </div>
                <div class="btn-left">
                    <input class="btnSubmit btnGreen" type="submit" value="Post A Message">
                </div>
            </form>
            <br><br>
            <hr>
            <br><br>
            <div id="section">
                <div id="message">
                    <h2>All Messages:</h2>
                    <% console.log(allMessages) %>
                    <% if(allMessages) { %>
                        <% for(mess in allMessages) { %>
                            <% if(mess == 0) { %>
                                <br>
                                <h3>Message Author:  <%= allMessages[mess].name %></h3>
                                <h4>Message Content:  <%= allMessages[mess].messageContent %></h4>
                                <br>
                                <div id="message">
                                    <!-- for(i in allMessages[mess]._comments)  -->
                                    <% for(var i = 0; i < allMessages[mess]._comments.length; i += 1) { %>
                                        <hr>
                                        <h4>Comment Author:  <%= allMessages[mess]._comments[i].name %></h4>
                                        <h5>Comment Content:  <%= allMessages[mess]._comments[i].commentContent %></h5>
                                        <br>
                                    <% } %>
                                    <form action="/comment/<%= allMessages[mess].id %>" method="POST">
                                        <hr>
                                        <br>
                                        <input type="hidden" name="message_id" value="<%= allMessages[mess].id %>">
                                        <div style="width: 50%;">
                                            <label for="name">Name:</label>
                                            <input class="inputTextLeft" type="text" name="name" placeholder="Enter Comment Author's Name Here">
                                        </div>
                                        <div class='right'></div><br>
                                        <div>
                                            <label for="commentContent">Comment:</label>
                                            <textarea class="textAreaItem" rows="4" cols="10" name="commentContent" placeholder="Enter Your Comment Here"></textarea>
                                        </div>
                                        <div class="btn-left">
                                            <input class="btnSubmit btnGreen" type="submit" value="Post a Comment">
                                        </div>
                                        <br>
                                    </form>
                                </div>
                            <% } else { %>
                                <hr>
                                <br>
                                <h3>Message Author:  <%= allMessages[mess].name %></h3>
                                <h4>Message Content:  <%= allMessages[mess].messageContent %></h4>
                                <br>
                                <div id="message">
                                        <hr>
                                        <form action="/comment/add" method="POST">
                                            <br>
                                            <div style="width: 50%;">
                                                <label for="name">Name:</label>
                                                <input class="inputTextLeft" type="text" name="name" placeholder="Enter Comment Author's Name Here">
                                            </div>
                                            <div class='right'>
                                                
                                            </div>
                                            <div>
                                                <label for="commentContent">Comment:</label>
                                                <textarea class="textAreaItem" rows="4" cols="10" name="commentContent" placeholder="Enter Your Comment Here"></textarea>
                                            </div>
                                            <div class="btn-left">
                                                <input class="btnSubmit btnGreen" type="submit" value="Post a Comment">
                                            </div>
                                            <br>
                                        </form>
                                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
            
            
        </div>
        <div id='foot'>
        </div>
    </div>
</body>

</html>